<h1>Welcome to thegearsblog.herokuapp.com,
  <%= @user.name %>
</h1>

<p>
  You have successfully signed in to thegearsblog.herokuapp.com!
</p>

<p>
  To see our blogs, just follow this link:
  <%= link_to 'link', blogs_url %>.
</p>

<p>Thanks for visitting us and have a great day!</p>