<div class="content-header">
    <div class="d-flex justify-content-end">
        <span><a href="/">Home</a></span> <i class="fa-fw fa fa-arrow-circle-right"></i> <span>Album</span>
    </div>
    <h1>ALBUM</h1>
    <%= link_to new_blog_path do %>
    <button class="btn btn-primary btn-round">
     Add New Picture
    </button>
    <% end %>
</div>

<div class="row">
    <%= render @blogs %>
</div>