<footer><!-- Footer -->
	<div class="container">

	</div>
</footer><!-- End Footer -->

<div class="copyright">
	<div class="container">
		<span class=" d-flex justify-content-center animated wow fadeInUp">©2017 - All Rights Reserved by The Gears</span>
	</div>		
</div>