<% if current_user %>
    <div class="top-header d-flex align-items-end justify-content-between">
        <div class="animated wow fadeInDown">
            <h1>thegearsblog</h1>
            <h1 style="color:#1EB771;">.com</h1>
        </div>
        <a class="animated wow fadeInDown">THE WORLD'S LARGEST BLOG</a>
    </div>
<% end %>