<% if current_user %>

  <header>
    <div class="top-header d-flex align-items-end justify-content-between">
      <div class="animated wow fadeInDown">
        <h1>thegearsblog</h1>
        <h1 style="color:#1EB771;">.com</h1>
      </div>
      <a class="animated wow fadeInDown">THE WORLD'S LARGEST BLOG</a>
    </div>

    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded main-nav" data-toggle="sticky-onscroll">

      <a class="navbar-brand logo" href="#">Logo</a>
      <div class="collapse navbar-collapse justify-content-end" id="">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link title" href="#"><i class="fa-fw fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <%= link_to albums_path, class: "nav-link title animated wow fadeIn" do %>
              <i class="fa-fw fa fa-film"></i> Album
              <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_blogs_path(current_user.id), class: "nav-link title animated wow fadeIn" do %>
              <i class="fa-fw fa fa-file-text-o"></i> Blog
              <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link title animated wow fadeIn" do %>
              <i class="fa-fw fa fa-users"></i> About
              <% end %>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle title" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-fw fa fa-user-o"></i> My Account</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Notification</a>
                <a class="dropdown-item" href="/userdetail/{{user._id}}">Profile</a>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <% end %>