<div class="content-header">
    <div class="d-flex justify-content-end">
        <div class="mr-auto p-2"><span id="leftmenutoogle" onclick="tooglebuttonClick()">Show Left-Menu</span></div>
        <div class="p-2"><span><a style="color: #000;" href="/">Home</a></span></div>
        <div class="p-2"><i class="fa-fw fa fa-arrow-circle-right"></i></div>
        <div class="p-2"><%= link_to albums_path do %><span style="color: #000;">Albums</span><% end %></div>
        <div class="p-2"><i class="fa-fw fa fa-arrow-circle-right"></i></div>
        <div class="p-2"><span style="color: #1EB771;">Pictures</span></div>
        
    </div>
    <h1>PICTURES</h1>
    <%= link_to new_user_album_image_path(current_user, @album) do %>
    <button class="btn btn-primary btn-round">
     Add New Pictures
    </button>
    <% end %>
    <%= link_to user_album_path(current_user, @album), method: :delete, data: {confirm: "Are you sure?"} do %>
    <button class="btn btn-primary btn-round-danger">
     Delete Album
    </button>
    <% end %>
</div>

<div class="row">
<%= render @images %>
</div>
<script>
  $("#albums").addClass("active");
  $("#menu-heading2").addClass("active");
  $("#heading2").addClass("active");
</script>