<div class="d-flex justify-content-end">
	<span><a href="/">Home</a> > About</span>
</div>
<h1>About "THE GEARS"</h1>
<div class="team-name">
	<h2>Team's Member<h2>
</div>
<div class="about row">
	<div class="col-md-6">
		<div class="memberinfo">
			<%= image_tag asset_url("slide1.jpg"), class:"img-fluid"%>
				<div class="avatar">
					<%= image_tag asset_url("1412322.jpg"), class:"img-fluid"%>
				</div>
				<h4>Minh Luong</h4>
				<h5>Frontend Developer - Designer</h5>
				<p>Fullname: Luong Nhat Minh<br> Student's ID: 1412322<br> Day of Birth: 19/04/1996<br> Phone: 0905355439</p>
				<div class="row">
					<div class="col-md-12 wow bounceInLeft">
						<ul class="socialbutton">
							<li class="facebook"><a target="_blank" href="https://www.facebook.com/nhatminh1904"><span class="fa fa-facebook" aria-hidden="true" title="fb.com/nhatminh1904"></span></a></li>
							<li class="google"><a href="mailto:nhatminh190496@gmail"><span class="fa fa-google" aria-hidden="true" title="nhatminh190496@gmail.com"></span></a></li>
							<li class="skype"><a href="skype:nhatminh190496?chat"><span class="fa fa-skype" aria-hidden="true" title="nhatminh190496"></span></a></li>
						</ul>
					</div>
				</div>
		</div>
	</div>

	<div class="col-md-6 wow bounceInDown">
		<div class="memberinfo">
			<%= image_tag asset_url("slide2.jpg"), class:"img-fluid"%>
				<div class="avatar">
					<div class="img">
						<%= image_tag asset_url("1412350.jpg"), class:"img-fluid"%>
					</div>
				</div>
				<h4>Ngoc Nguyen</h4>
				<h5>Backend Developer</h5>
				<p>Fullname: Nguyen Thi Bao Ngoc<br> Student's ID: 1412350<br> Day of Birth: 12/07/1995<br> Phone: 01685573742</p>
				<div class="row">
					<div class="col-md-12 wow bounceInLeft">
						<ul class="socialbutton">
							<li class="facebook"><a href="target=" _blank " https://www.facebook.com/jewel.sme"><span class="fa fa-facebook" aria-hidden="true" title="fb.com/jewel.sme"></span></a></li>
							<li class="google"><a href="mailto:ngoc120742@gmail"><span class="fa fa-google" aria-hidden="true" title="ngoc120742@gmail.com"></span></a></li>
							<li class="skype"><a href=""><span class="fa fa-skype" aria-hidden="true" title="skype"></span></a></li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>

<div class="team-information">
	<h2>Team's Information</h2>
	Address: 227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh city
	<br>Contact: thegearsweb@gmail.com
	<div class="team-contact">
		<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle facebook" rel="tooltip"
		    title="Follow us on facebook">
			<i class="fa fa-facebook-square"></i>
		</a>
		<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle google" rel="tooltip"
		    title="Send us an email">
			<i class="fa fa-google"></i>
		</a>
		<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle instagram"
		    rel="tooltip" title="Follow us on Instagram">
			<i class="fa-fw fa fa-instagram"></i>
		</a>
		<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle youtube" rel="tooltip"
		    title="Subscribe  us on Youtube">
			<i class="fa-fw fa fa-youtube-square"></i>
		</a>
	</div>
	<div id="map">
	</div>
</div>