<h1>About</h1>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Team Infomation</h4>
                            </div>
                            <div class="content">
                                <ul class = "list-unstyled">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p> Team Name: </p>
                                            </div>
                                           <div class="col-xs-9">
                                                <p> 1412322-1412350</p>
                                           </div>
                                        </div> 
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p> Gmail: </p>
                                            </div>
                                           <div class="col-xs-9">
                                                <p> thegearsweb@gmail.com</p>
                                           </div>
                                        </div> 
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p> Address: </p>
                                            </div>
                                           <div class="col-xs-9">
                                                <p>227 Nguyen Van Cu - Phuong 4 - Quan 5 - TP HCM</p>
                                           </div>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Team Members</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                            <%= image_tag asset_url("1412322.jpg"), class:"img-circle img-no-padding img-responsive"%>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        Luong Nhat Minh
                                                        <br />
                                                        <span class="text-success"><small>MSSV: 1412322</small></span>
                                                    </div>

                                                    <div class="col-xs-3 text-right">
                                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="avatar">
                                                            <%= image_tag asset_url("1412350.jpg"), class:"img-circle img-no-padding img-responsive"%>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        Nguyen Thi Bao Ngoc
                                                        <br />
                                                        <span class="text-success"><small>MSSV: 1412350</small></span>
                                                    </div>

                                                    <div class="col-xs-3 text-right">
                                                        <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card card-map">
					        <div class="header">
                                <h4 class="title">Google Maps - Team Address</h4>
                            </div>
					        <div class="map">
						        <div id="map"></div>
					        </div>
				        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script>
        $().ready(function(){
            var myLatlng = new google.maps.LatLng(10.7626391,106.6820268);
            var mapOptions = {
            zoom: 16,
            center: myLatlng,
            scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
             styles: [{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]

            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                title:"Hello World!"
            });
            marker.setMap(map);

        });
</script>
