@media screen and (max-width: 768px) {
    #side-categories-menu {
        display: none;
    }
    .p-2 {
        #leftmenutoogle {
            display: block;
        }
    }
    #carouselAds {
        .carousel-indicators {
            top: 90%;
        }
        .carousel-inner .carousel-item {
            .carousel-caption {
                top: 30%;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            display: none;
        }
    }
}

@media (max-width: 992px) {

}