<div class="card">
  <div class="col-md-3 col-sm-6 w3-agile-post-grids">
    <div class="w3-agile-post-img">
      <%= link_to user_album_image_path(image.user, image.album, image) do %>
        <%= image_tag image.url.thumb, class: "img-fluid" %>
          <% end %>
    </div>
  </div>
</div>